@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');


body{
    font-family: "Roboto"
    
}

:root {
    --main_color:#D04848;

    
}
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .tx-color{
    color: var(--main_color);
  }

  .bg-color{
    background-color: var(--main_color);
  }

  .border-main{
    border:2px solid var(--main_color);
   
  }

  .nav-hover{
   
    position: relative;
    overflow: hidden;
  }

  .nav-hover::before{
    position:absolute;
    transition: 0.2s;
    content: "";
    width: 100%;
    height:8% ;
    bottom:  -10%;
    left: 0;
    background-color: #D04848;
    
 }
.nav-hover:hover::before{
    bottom: 0%;
}

.navbar-toggler{
  box-shadow: none !important;
}



.bg-image {
  background-image: url('./asset/mission2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* .sottotitolo{
border:;
 border-bottom: solid 2px var(--main_color);
  
} */
/* .sottotitolo{
  width: 100%;
  height: 2px;
  background-color: #D04848;
  border-bottom: solid 2px var(--main_color);
} */

body{overflow-x: hidden;}